
/site/khanacademy/precompiled
/site/khanacademy/eclipse
/site/khanacademy/.project
/site/khanacademy/.settings
/site/khanacademy/.classpath
/site/khanacademy/modules
/site/khanacademy/tmp
/Documentations
/videos
/Subtitles Edit