#{extends 'main.html' /}
<script type="text/javascript">
	(function() {
		var po = document.createElement('script');
		po.type = 'text/javascript';
		po.async = true;
		po.src = 'https://apis.google.com/js/plusone.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(po, s);
	})();
</script>
<div style="overflow: hidden;">
	<div style="float:right;">
		<h2>צוות הפרויקט</h2>
		<div><span style="font-weight: bold;">מובילי הפרויקט</span><span> - עמנואל גרינגרד, שחר קידר, יאנה ז'יבין</span></div>
		<div class="participants"><span style="font-weight: bold;">מוסדות וארגונים</span><span> - שנקר – בי"ס גבוה להנדסה ולעיצוב, איגוד האינטרנט הישראלי, מכון דודיסון לחינוך מדעי</span></div>
		<div class="participants"><span style="font-weight: bold;">תורמים ראשיים (לפי סדר האלף-בית)</span><span> - אביטל דרי, בועז סילברמן, חני מנור, עידו גרינגרד, עידן פלג</span></div>
		<div class="participants"><span style="font-weight: bold;">תורמים (לפי סדר האלף-בית)</span><span> - אורן בקר, אלמוג פעיל, ארז גרטי, ירון גרוס, מורן קליין, מני פורת, שי סתם</span></div>
	</div>
	<div style="float:right; margin-right: 50px;"><img alt="team" src="@{'public/images/team-small.jpg'}"/></div>
</div>
<div style="border-bottom: 1px solid; border-bottom-color: #E8EDD8; padding:0px 0px 20px;"></div>
<div id="right_div" style="float: right; width: 400px;">
	<div class="float contib_content" id="spread_the_word">
		<h2>הפיצו את השמועה</h2>
		<span>מצאתם את הפרויקט מרגש, מועיל, מעניין או פשוט נחמד? ספרו לחברכם!</span> <span>הפצת הפרויקט ברבים חשובה
			מכמה סיבות:</span>
		<ol>
			<li>עוזרת לגייס מתנדבים חדשים</li>
			<li>מאפשרת ליותר אנשים לתת פידבק על הפרויקט</li>
			<li>מעלה את רמת המודעות של החברה לפרויקט ולכלים שהוא מספק למוסדות החינוך</li>
		</ol>
		<div style="padding-top: 10px;">
			<span>אז למה אתם מחכים?</span>
			<div class="clear_both"></div>
			<div id="sharingServices" style="padding-top: 10px; float: right; width: 250px">
				<!-- Facebook -->
				<div class="float" style="padding-left: 3px">
					<div class="fb-like" data-href="http://www.hebrewkhan.org/" data-send="false" data-layout="box_count" data-width="50"
						data-show-faces="false"></div>
				</div>
				<div style="float: right;">
					<!-- Google+ -->
					<!-- Place this tag where you want the +1 button to render -->
					<g:plusone size="tall" href="http://www.hebrewkhan.org/"></g:plusone>
					<!-- Twitter -->
					<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.hebrewkhan.org/"
						data-count="vertical">Tweet</a>
					<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
				</div>
			</div>
			<div class="contib_img">
				<img alt="spread" src="@{'/public/images/spread_the_word-small.png'}">
			</div>
		</div>
	</div>
</div>
<div class="vertical_separator" style="height: 300px"></div>
<div id="left_div" style="float: right; width: 550px; padding-right: 20px;">
	<div class="float contib_content" id="help_translate">
		<h2>עזרו לנו לתרגם</h2>
		<span>מעוניינים לקחת חלק בהסבת הסרטונים מאנגלית לעברית? הפרויקט מחפש מתנדבים שיסכימו לעשות אחת משתי משימות:</span>
		<ol>
			<li>יצירת כתוביות בעברית</li>
			<li>דיבוב לעברית</li>
		</ol>
		<p>
			כל מי שמעוניין לקחת חלק באחת משתי המשימות לעיל, מוזמן לשלוח מייל לכתובת </span><a href="mailto:hebrewkhan@gmail.com">hebrewkhan@gmail</a><span>
				בו הוא מציין את שמו, את התפקיד שבו הוא מעוניין (ניתן לבחור יותר מתפקיד אחד כמובן), ואילו הרצאות הוא ירצה לתרגם
				(מספיק לכתוב שכבת גיל אם אתם לא יודעים בדיוק אילו נושאים מעניינים אותכם). 
		</p>
		<br>
		<p>על המעוניינים להשתתף בפרויקט כמתרגמים להיות בקיאים בנושאים ובמונחיהם העבריים ובעלי נכונות להקדיש לנושא מספר
			שעות סביר בשבוע (תרגום סרטון אורך כשעה ועשרים) משך מספר שבועות/חודשים. אנו נספק את התוכנה המומלצת, מדריך לתרגום
			ופרטים על צעדי הפרויקט.</p>
	</div>
	<div class="image_container float" style="width: 130px; height: 288px">
		<div style="margin-top: 40px;" class="contib_img">
			<img alt="'world_of_flags" src="@{'/public/images/help_translate-small.png'}" />
		</div>
	</div>

</div>
<div class="clear_both"></div>