#{extends 'main.html' /}
<!-- Place this render call where appropriate -->
#{script 'jquery-1.6.2.min.js' /}
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
  
  $(document).ready(function() {
	  	//TODO: solve proxy issue 
		//var showCatalog = #{jsAction @@Catalog.show() /}
	  	$('#catalog_container').load("catalog");
	 });
</script>
<div>
	<div class="float" style="padding-left: 15px; width: 435px;">
		<h2>קצת רקע כללי</h2>
		<p>Khan Academy הינו ארגון אמריקאי ללא מטרות רווח אשר שם לעצמו
			למטרה לאפשר לכל אדם - בין אם הוא תלמיד, מורה, הורה, סטודנט או מרצה -
			לצפות בשיעורים במגוון תחומים בכל זמן ובכל מקום.</p>
		<br> <span>נכון להיום, הפרויקט הפיק מעל 2400 סרטונים,
			המכסים 12 שנות לימוד במתמטיקה, ובנוסף נושאים נבחרים בביולוגיה, כימיה,
			פיסיקה, כלכלה והסטוריה. הסרטונים, אשר אורכם נע סביב ה-10 דקות לסרטון,
			מועברים בצורה משעשעת וכיפית, אך יותר מהכל - </span><span
			style="font-weight: bold;">מובנת</span><span>.</span><br> <br>
		<p>לקבלת מידע נוסף אודות הפרויקט האמריקאי אתם מוזמנים לצפות
			בסרטון שמשמאל או להכנס לאתר הפרויקט בכתובת </p><a
			href="http://www.khanacademy.org/">www.khanacademy.org</a><span>.</span><br>
		<br>
		<h2>הפרויקט הישראלי</h2>
		<p>מטרת הפרויקט הישראלי היא להסב חלק נכבד מהסרטונים המוצעים
			על ידי ה-Khan Academy לעברית, על מנת לאפשר גם למוסדות חינוך בארץ
			ליהנות ממאגר מקוון ומקוטלג של שיעורים. נכון לעכשיו המעורבות בפרויקט
			היא על בסיס התנדבותי, ולכן נשמח <a
			href="contribute">לקבל כל עזרה שהיא</a>.</p>
			<br>
			<p>העבודה על הסבת הסרטונים התחילה רק לפני חודשים ספורים, ולכן רוב הסרטונים עדיין לא עברו הסבה מלאה. היות וברצוננו לעודד שימוש בסרטונים שכן הוסבו, אלה שהעבודה עליהם הושלמה יועלו באופן מיידי לאתר הפרויקט על מנת שיהיו נגישים לקהל הרחב.  </p>
			<h2></h2>
		<span>פרויקט ההסבה מבוצע על ידי שנקר, בית ספר גבוה להנדסה ולעיצוב, בשיתוף עם מכון דוידסון לחינוך מדעי ובחסות איגוד האינטרנט הישראלי:</span>
		<div class="sponsor_logos">
			<div style="width: 33%; float: right">
				<img alt="שנקר" src="@{'public/images/logo-shenkar.jpg'}" style="width: 99%;">
				<br>
				<div class="logos_text">שנקר - בי"ס גבוה להנדסה ולעיצוב</div>
			</div>
			<div style="width: 33%; float: right;">
				<img alt="איגוד האינטרנט הישראלי" src="@{'public/images/logo-isoc.gif'}" style="width: 99%;">
				<br>
				<div class="logos_text">איגוד האינטרנט הישראלי</div>
			</div>
			<div style="width: 34%; float: right;">
				<img alt="מכון דוידסון" src="@{'public/images/logo_doil.png'}" style="width: 99%;">
				<br>
			</div>
		</div>
		<div class="clear_both"></div>
		<div style="padding-top: 10px">
			<p>פרויקט ההסבה הוא תת-פרויקט של <a href="http://www.nehardea.org/">נהרדעא</a> - אתר תשתית שעניינו הוראה וחינוך באמצעים ממוחשבים ומשמש כמאגר תכנים במתכונת קוד ותוכן חופשיים וכפורטל לחומרי הוראה נוספים.</p>
		</div>
	</div>
	<div class="float">
		<object width="526" height="374">
			<param name="movie" value="http://video.ted.com/assets/player/swf/EmbedPlayer.swf"></param>
			<param name="allowFullScreen" value="true" />
			<param name="allowScriptAccess" value="always" />
			<param name="wmode" value="transparent"></param>
			<param name="bgColor" value="#ffffff"></param>
			<param name="flashvars"
				value="vu=http://video.ted.com/talk/stream/2011/Blank/SalmanKhan_2011-320k.mp4&su=http://images.ted.com/images/ted/tedindex/embed-posters/SalmanKhan-2011.embed_thumbnail.jpg&vw=512&vh=288&ap=0&ti=1090&lang=he&introDuration=15330&adDuration=4000&postAdDuration=830&adKeys=talk=salman_khan_let_s_use_video_to_reinvent_education;year=2011;event=TED2011;&preAdTag=tconf.ted/embed;tile=1;sz=512x288;" />
			<embed src="http://video.ted.com/assets/player/swf/EmbedPlayer.swf"
				pluginspace="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent"
				bgColor="#ffffff" width="526" height="374" allowFullScreen="true" allowScriptAccess="always"
				flashvars="vu=http://video.ted.com/talk/stream/2011/Blank/SalmanKhan_2011-320k.mp4&su=http://images.ted.com/images/ted/tedindex/embed-posters/SalmanKhan-2011.embed_thumbnail.jpg&vw=512&vh=288&ap=0&ti=1090&lang=he&introDuration=15330&adDuration=4000&postAdDuration=830&adKeys=talk=salman_khan_let_s_use_video_to_reinvent_education;year=2011;event=TED2011;&preAdTag=tconf.ted/embed;tile=1;sz=512x288;"></embed>
		</object>
		<br>
		<div class="fb-like-box" data-href="http://www.facebook.com/pages/%D7%90%D7%A7%D7%93%D7%9E%D7%99%D7%99%D7%AA-%D7%97%D7%90%D7%9F-%D7%91%D7%99%D7%A9%D7%A8%D7%90%D7%9C/246613442054523" data-width="526" data-show-faces="true" data-border-color="#6B9A0C" data-stream="false" data-header="true"></div>
		<br>
	</div>
	<div class="float" style="padding-right:10px">
		
	</div>
	<div class="clear_both"></div><br>
	<div style="border-bottom: 2px solid; border-bottom-color: #E8EDD8; padding-top: 20px"></div>
	<div id="catalog_container">
	</div>
	
</div>
