#{extends 'main.html' /}
<div>
	<div class="float" style="padding-left: 20px; width: 400px;">
		<h2>קצת רקע כללי</h2>
		<p>Khan Academy הינו ארגון אמריקאי ללא מטרות רווח אשר שם לעצמו
			למטרה לאפשר לכל אדם - בין אם הוא תלמיד, מורה, הורה, סטודנט או מרצה -
			לצפות בשיעורים במגוון תחומים בכל זמן ובכל מקום.</p>
		<br> <span>נכון להיום, הפרויקט הפיק מעל 2400 סרטונים,
			המכסים 12 שנות לימוד במתמטיקה, ובנוסף נושאים נבחרים בביולוגיה, כימיה,
			פיסיקה, כלכלה והסטוריה. הסרטונים, אשר אורכם נע סביב ה-10 דקות לסרטון,
			מועברים בצורה משעשעת וכיפית, אך יותר מהכל - </span><span
			style="font-weight: bold;">מובנת</span><span>.</span><br> <br>
		<span>לקבלת מידע נוסף אודות הפרויקט האמריקאי אתם מוזמנים לצפות
			בסרטון שמשמאל או להכנס לאתר הפרויקט בכתובת </span><a
			href="http://www.khanacademy.org/">www.khanacademy.org</a><span>.</span><br>
		<br>
		<h2>הפרויקט הישראלי</h2>
		<span>מטרת הפרויקט הישראלי היא להסב חלק נכבד מהסרטונים המוצעים
			על ידי ה-Khan Academy לעברית, על מנת לאפשר גם למוסדות חינוך בארץ
			להינות ממאגר מקוון ומקוטלג של שיעורים. נכון לעכשיו המעורבות בפרויקט
			היא על בסיס התנדבותי, ולכן נשמח לקבל כל עזרה שהיא. לחץ </span><a
			href="contribute">כאן</a><span> אם ברצונך ללמוד כיצד ניתן
			לתרום לפרויקט.</span>
	</div>
	<div class="float">
		<object width="446" height="326">
			<param name="movie"
				value="http://video.ted.com/assets/player/swf/EmbedPlayer.swf"></param>
			<param name="allowFullScreen" value="true" />
			<param name="allowScriptAccess" value="always" />
			<param name="wmode" value="transparent"></param>
			<param name="bgColor" value="#ffffff"></param>
			<param name="flashvars"
				value="vu=http://video.ted.com/talks/dynamic/SalmanKhan_2011-medium.flv&su=http://images.ted.com/images/ted/tedindex/embed-posters/SalmanKhan-2011.embed_thumbnail.jpg&vw=432&vh=240&ap=0&ti=1090&lang=eng&introDuration=15330&adDuration=4000&postAdDuration=830&adKeys=talk=salman_khan_let_s_use_video_to_reinvent_education;year=2011;theme=new_on_ted_com;theme=a_taste_of_ted2011;event=TED2011;&preAdTag=tconf.ted/embed;tile=1;sz=512x288;" />
			<embed src="http://video.ted.com/assets/player/swf/EmbedPlayer.swf"
				pluginspace="http://www.macromedia.com/go/getflashplayer"
				type="application/x-shockwave-flash" wmode="transparent"
				bgColor="#ffffff" width="446" height="326" allowFullScreen="true"
				allowScriptAccess="always"
				flashvars="vu=http://video.ted.com/talks/dynamic/SalmanKhan_2011-medium.flv&su=http://images.ted.com/images/ted/tedindex/embed-posters/SalmanKhan-2011.embed_thumbnail.jpg&vw=432&vh=240&ap=0&ti=1090&lang=eng&introDuration=15330&adDuration=4000&postAdDuration=830&adKeys=talk=salman_khan_let_s_use_video_to_reinvent_education;year=2011;theme=new_on_ted_com;theme=a_taste_of_ted2011;event=TED2011;"></embed>
		</object>
	</div>
	<div class="clear_both"></div>
</div>
