#{extends 'main.html' /} #{set title:'admin.html' /} #{form @@addLesson() }
#{script 'jquery-1.6.2.min.js' /}
<script type="text/javascript">
	function clearForm() {
		$('.clearme').val("")
	}
</script>
<div class="feedback_form" style="width: 500px">
	<table>
		<tr>
			<td style="vertical-align: middle">שם השיעור בעברית:</td>
			<td style="vertical-align: middle">
				<div>
					#{field 'hebrewName'} <input type="text" name="${field.name}" value="${flash.hebrewName}" class="clearme"/> #{/field} <span
						class="error">#{error 'hebrewName' /}</span> <br>
				</div>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle">שם השיעור במקור (באנגלית):</td>
			<td style="vertical-align: middle">
				<div>
					#{field 'originalName'} <input type="text" name="${field.name}" value="${flash.originalName}" class="clearme"/> #{/field} <span
						class="error">#{error 'originalName' /}</span> <br>
				</div>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle">תיאור:</td>
			<td style="vertical-align: middle">
				<div>
					#{field 'description'}
					<textarea name="${field.name}" class="clearme">${flash.description}</textarea>
					#{/field} <br>
				</div>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle"">כתובת YouTube:</td>
			<td style="vertical-align: middle">
				<div>
					#{field 'url'} <input type="text" name="${field.name}" value="${flash.url}" style="width: 350px" class="clearme"/> #{/field} <span class="error">#{error 'url' /}</span>
				</div>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle">נושא:</td>
			<td style="vertical-align: middle">#{field 'topicId'} 
				<select name="${field.name}"> 
						#{list items:topics, as:'topic' }
							#{if topic.id.toString() == flash.topicId}
								<option value="${topic.id}" selected="selected">${topic.name}</option> 
							#{/if}
							#{else}
								<option value="${topic.id}">${topic.name}</option>
							#{/else}
						#{/list}
				</select> #{/field}
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle">מספר סידורי:</td>
			<td style="vertical-align: middle">
				<div>
					#{field 'serialNumber'} <input type="number" name="${field.name}" value="${flash.serialNumber}" style="width: 40px" class="clearme"/> #{/field} <span
						class="error">#{error 'serialNumber' /}</span> <br>
				</div>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><div>
					<input type="submit" value="הוסף שיעור" class="submit_feedback_button" />
					<input type="button" value="נקה" class="submit_feedback_button" onclick="clearForm()" />
				</div></td>
		</tr>
	</table>
	<br>
</div>
#{/form}
