.float {
	float: right;
}

.float_left {
	float: left;
}

/* 3 Columns Layout */
.col3-layout .col-main {
	width: 530px;
}

/* 2 Columns Layout */
.col2-layout {
	width: 950px;
	overflow: hidden;
	margin: auto;
	float: right;
}

.col2-layout .col-main {
	width: 640px;
	padding-top: 15px;
}

.col2-layout .col-left {
	width: 150px;
}

/* Base Columns */
.col-left {
	float: right;
	width: 204px;
	padding-right: 7px; /* margin-left:-717px; */
}

.col-main {
	float: right;
	width: 530px;
}

.col-right {
	float: right;
	width: 204px;
	padding-top: 0px;
}

.clear_both {
	clear: both;
	height: 1px;
	overflow: hidden;
}

.ltr {
	direction: ltr;
	text-align: left;
	float: left;
}

.horizon_separartor {
	height: 20px;
	width: 100%;
}

.vertical_separator {
	width: 2px;
	float: right;
	background: #6E9E0C; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6E9E0C',
		endColorstr='#BDD28F' ); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#6E9E0C),
		to(#BDD28F) ); /* for webkit browsers */
	background: -moz-linear-gradient(top, #6E9E0C, #BDD28F);
	/* for firefox 3.6+ */
}

.container {
	overflow: hidden;
}