html {
	height: 100%;
}

body {
	color: #313C4A;
	font-family: Gisha;
	font-size: 14px;
	margin: 0;
	padding: 0;
	text-align: right;
	direction: rtl;
	height: 100%; #
	background-image: url('../images/back_filler.png');
}

img {
	border: none;
}

button,input[type=submit] {
	cursor: hand;
	cursor: pointer;
}

a {
	outline: none;
	text-decoration: none;
	font: 12px/1.5 Gisha;
	font-size: 14px;
	color: #00aeef;
}

a:visited {
	color: #FF7F2A;
}

a:active {
	border: none;
	outline: none;
	ie-dummy: expression(this.hideFocus =                       true);
}

a:focus {
	border: none;
	outline: none;
	ie-dummy: expression(this.hideFocus =                       true);
}

p {
	margin: 0;
	padding: 0;
}

form {
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
}

hr {
	margin: 0;
}

ol,ul {
	list-style-image: url('../images/leaf.png');
}

h2 {
	margin-top: 0px;
}

.outer_wrapper {
	background-image: url('../images/back_filler.png');
	height: 220px;
	width: 100%;
	position: absolute;
}

.page_container {
	max-width: 1000px;
	position: relative;
	margin: 0 auto;
	background-color: #FFFFFF;
}

.header_links {
	float: right;
	background-color: #DDE4C6;
}

.header_links a {
	font-size: 16px;
	font-weight: bold;
	font-family: Gisha;
	color: #383937;
	font-family: Gisha;
}

.header_links span {
	font-size: 16px;
	font-weight: bold;
	font-family: Gisha;
	color: #383937;
	font-family: Gisha;
}

.mv_standard {
	border-bottom: #c9e1f4 1px solid;
	border-left: #c9e1f4 1px solid;
	padding-bottom: 12px;
	padding-left: 0px;
	width: 202px;
	padding-right: 0px;
	margin-bottom: 13px;
	background: none transparent scroll repeat 0% 0%;
	border-top: #c9e1f4 1px solid;
	border-right: #c9e1f4 1px solid;
	padding-top: 0px
}

.mv_standard H4 {
	border-bottom: medium none;
	padding-bottom: 8px;
	line-height: normal;
	text-transform: none;
	padding-left: 10px;
	padding-right: 10px;
	background: #eaf3fe;
	color: #004b91;
	font-size: 12px;
	font-weight: bold;
	padding-top: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.mv_standard_content {
	padding-left: 10px;
	width: 182px;
	padding-right: 10px;
}

.mv_standard .head A {
	width: 15px;
	background: url(../images/arrow-cat.gif) no-repeat right center;
	float: right;
	height: 15px
}

.mv_standard .head A:hover {
	background: url(../images/arrow-cat-hover.gif) no-repeat right center
}

/* ============== HEADER SECTION ========================= */
.header_container {
	position: relative;
	border-bottom: 1px solid black;
}

.logo_container {
	background-color: #DDE4C6;
	position: relative;
	float: left;
	width: 400px;
	height: 95px;
}

.logo {
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	text-align: right;
	width: 100%;
}

.logo_img {
	float: left;
}

.header_container {
	background-color: #DDE4C6;
}

.menu_container {
	position: relative;
	float: right;
	height: 30px;
	background-color: #DDE4C6;
	width: 500px;
	height: 95px;
}

.menu {
	position: absolute;
	text-align: right;
	bottom: 0;
}

a.login_link {
	text-decoration: none;
	color: #313C4A;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #313C4A;
}

a.login_link:hover {
	text-decoration: underline;
}

span.separator {
	border-left: 1px solid #C6D1AD;
	border-right: 1px solid #E9EFDD;
	padding: 0;
	margin: 0 8px;
	display: inline-block;
	height: 20px;
}

/* ============== MAIN PAGE SECTION ========================= */
.mw_main {
	width: 1263px;
	min-height: 450px;
}

.main {
	text-align: right;
	padding: 15px 10px 25px 10px;
}

.sponsor_logos {
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	overflow: hidden
}

.sponsor_logos span {
	font-weight: bold;
}

.news_item.wrapper {
	padding: 10px 0px 10px 0px;
}

.news_item.title {
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
}

.news_item.content {
	font-family: Arial;
	font-size: 12px;
	padding: 5px 0px 5px 0px;
}

.news_item.meta {
	font-family: Arial;
	font-size: 10px;
	font-style: italic;
}

.clear_both {
	clear: both;
	height: 1px;
	overflow: hidden;
}

/* ================== Catalog ====================== */
.lessons {
	padding-top: 20px;
}

/* ================== Contact page ====================== */
.feedback_form {
	width: 400px;
	padding-top: 10px;
}

.message_area {
	width: 350px;
	height: 150px;
}

.submit_feedback_button {
	text-align: center;
}

.mandatory_field_asterix {
	color: red;
}

.error {
	color: red;
}

/* ================== Video page ====================== */
.video {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.video_description {
	color: #555;
}

.video_title {
	font-size: 1.25em;
}

/* ================== Contribution page ====================== */
.contib_content {
	width: 400px;
}

.contib_img img {
	margin-right: 10px;
	margin-top: 5px;
}

/* Footer ================================================================================ */
.mw_footer {
	background-color: #A2BD33;
	height: 26px;
}

.footer {
	max-width: 1000px;
	position: relative;
	margin: 0 auto;
}

.footer a {
	font-weight: bold;
	color: #FFFFFF;
}

.footer span {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}