#{extends 'CRUD/layout.html' /}
#{script 'jquery-1.6.2.min.js' /}
#{script 'lessonCrud.js' /}

<div id="crudShow" class="${type.name}">
	
	<h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>
	
	<div class="objectForm">
	#{form action:@save(object._key()), enctype:'multipart/form-data'}
	
		#{crud.form}
			#{crud.custom 'url'}
				#{field 'object.url'}
					<label for="${field.id}">URL</label>
					<input id="${field.id}" class="${field.errorClass} url_input" type="text" name="${field.name}" value="${object.url?.escape()?.raw() ?: field.error?.message == 'validation.required' ? '' : _value?.escape()?.raw()}" size="50" ${object.linkless ? 'disabled="disabled"'.raw() : '' } />
 					#{ifError 'object.url'}
     				<span class="error">#{error 'object.url' /}</span>
 					#{/ifError}
				#{/field}
  			#{/crud.custom}
  			
	  		#{crud.custom 'linkless'}
  				#{field 'object.linkless'}
 					<label for="${field.id}">No link yet?</label>
	    			<input id="${field.id}" class="${field.errorClass}" type="checkbox" name="${field.name}" value="true" ${(object.linkless ? 'true' : _value) ? 'checked="true"'.raw() : ''} onchange="switchUrlFieldState(checked)"/>
 					<input type="hidden" name="${field.name}" value="false" />
				#{/field}
			#{/crud.custom}
		#{/crud.form}
		
		<p class="crudButtons">
			<input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
			<input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
		</p>
	#{/form}
	</div>
	
	#{form @delete(object._key())}
		<p class="crudDelete">
			<input type="submit" value="&{'crud.delete', type.modelName}" />
		</p>
	#{/form}

</div>