#{script 'autocolumn.min.js' /}
<script type="text/javascript">
$(document).ready(function() {
	$('.catalog').fadeIn(2000);
	$('.lessons').columnize({columns:3, width:300, 'float':'right', lastNeverTallest : false});
});
</script>
<div class="catalog" style="display: none;">
	#{list items:topics, as: 'topic'}
	<div style="padding-top: 20px">
		<h2 class="topic">${topic.name}</h2><a name="${topic.englishName}" id="${topic.englishName}"></a>
		<p>${topic.description}</p>
		<div class="lessons">
		#{list items:topic.lessons, as:'lesson'}
			#{if lesson.linkless == false }
				<div><a href="@{Video.show()}/${lesson.id}" class="lesson_link">${lesson.hebrewName}</a></div>
			#{/if}
			#{else}
				<div><span>${lesson.hebrewName}</span></div>
			#{/else}
		#{/list}
		</div>
		<div style="clear: both"></div>
	</div>
	#{/list}
</div>